/***********************************************************************
* Channelnavigation
***********************************************************************/

ul#Menu {
	position: relative;
	background-image: url(../images/menu/bg_navChannel0.gif);
	background-repeat: repeat-x;
	height: 3.6em;
	margin: 0;
	padding: 0 0 0 1em;
	list-style: none;
}
#Menu li {
	display: block;
	margin: 0;
	padding: 0.4em 0 0 0;
	float:left;
}
#Menu li.active {
	background: url(../images/menu/bg_navChannel1.gif);
	background-repeat: repeat-x;
	border: 0.08em solid #A5ACB2;
	border-bottom: 0.08em solid #D3DADC;
}
#Menu a.active {
	color: #000;	
}
#Menu a {
	display:block;
	color: #E0E0E0;
	text-decoration:none;
	margin: 2px 0 0 0;
	padding: 0.2em 1em;
	border-right: 0.08px solid #A5ACB2;
	position: relative;
	font: bold 0.7em tahoma, geneva, helvetica, arial, sans-serif;
}

/***********************************************************************
* Channel-Subnavigation
***********************************************************************/
#Submenu {
	position: absolute;
	z-index:101;
	left: 0px;
	top: 30px;
	margin:0;
	padding: 0.1em 0em;
	background: #D3DADC;
	list-style: none;
	height: 22px;
	width: 100%;
}

#Submenu li {
	position:relative;
	z-index:102;
	display: block;
	margin: 0;
	padding: 0.4em 0 0 0;
	float:left;
}

#Submenu li a {
	color:#666;
	text-decoration:none;
	display:block;
	border:0;
	margin: 0 0 0 1em;
	padding: 0 1em 0.2em 2em;
	border-right: 0.08em solid #666;
	background: no-repeat;
}

#Submenu a.active {
	color:#000;
	text-decoration:none;
	display:block;
	border: 0;
	margin: 0 0 0 1em;
	padding: 0 1em 0.2em 2em;
	border-right:0.08em solid #666;
	background: no-repeat;
}
#Menu a:hover {
	color: #9c6;
}
#Submenu a:hover {
	color: #9c6;
}
#Submenu a.active:hover
{
	color:#000;
}

#Submenu a#umt_menu_users_title {
	background-image: url(../images/umt/user.png);	
}

#Submenu a#umt_menu_roles_title {
	background-image: url(../images/umt/role.png);
}