@charset "UTF-8";

/* the not-really-reset rule */
* { margin: 0; padding: 0; }
a img, :link img, :visited img { border: none; }

/* basic minos styling */
body {
	color: #333;
	background-color: #fff;
	font: normal 100% Trebuchet MS, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}


h1 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.5em 1.5em;
	color: #111;
}

h2 {
	border-bottom: 0.2em solid #ddd;
	padding-left: 0.4em;
	margin: 0.5em 0;
	font-size: 1.1em;
}

h3 {
	border-bottom: 0.1em solid #ddd;
	padding-left: 0.4em;
	margin: 0.5em 0;
	font-size: 0.9em;
}

#header { background-color: #eee; padding: 1em 0 0 0; }
#middle { padding: 1em 1em; }

/* forms */
form fieldset { margin: 10px 0; padding: 10px; border: #ddd 1px solid; }
form fieldset legend { font-weight: bold; color: #666; }
form fieldset div { padding: 0.25em 0; }
form fieldset label,
form fieldset span.label { margin-right: 10px; padding-right: 10px; width: 150px; display: block; float: left; text-align: right; position: relative; }
form fieldset label.error,
form fieldset span.error,
form fieldset span[id$=".errors"] { color: #c00; }
form fieldset label em,
form fieldset span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
form fieldset input.error { border-color: #c00; background-color: #fef; }
form fieldset input:focus,
form fieldset input.error:focus,
form fieldset textarea:focus {	background-color: #FFC; border-color: #FC6; }
form fieldset div.controlset label,
form fieldset div.controlset input { display: inline; float: none; }
form fieldset div.controlset div { margin-left: 170px; }
form div.buttonrow { margin-left: 180px; }

/* tables */
table th { white-space: nowrap; }
table td { vertical-align: top; }
table td.actions { white-space: nowrap; }
td.actions form { display: inline; }

/* system messages */
ul.systemMessage {
	border: 0.1em solid;
	list-style-type: none;
	padding: 0.4em 1em 0.3em 2.2em;
	background-repeat: no-repeat;
	background-position: 0.6em 0.5em;
	margin-bottom: 0.6em;
}

ul.errorMessage {
	border-color: #f00;
	background-color: #fdd;
	background-image: url(../images/core/error.png);
}

ul.successMessage {
	border-color: #090;
	background-color: #9f9;
	background-image: url(../images/core/okay.png);
}

ul.noticeMessage {
	border-color: #00f;
	background-color: #ddf;
	background-image: url(../images/core/error.png);
}

ul.warningMessage {
	border-color: #990;
	background-color: #ff9;
	background-image: url(../images/core/error.png);
}
